In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [4]:
df = pd.read_csv('allegations_20200726939.csv')

In [5]:
df.head(10)

,unique_mos_id,first_name,last_name,command_now,complaint_id,month_received,year_received,month_closed,year_closed,command_at_incident,...,mos_age_incident,complainant_ethnicity,complainant_gender,complainant_age_incident,fado_type,allegation,precinct,contact_reason,outcome_description,board_disposition
0,10004,Jonathan,Ruiz,078 PCT,42835,7,2019,5,2020,078 PCT,...,32,Black,Female,38.0,Abuse of Authority,Failure to provide RTKA card,78.0,Report-domestic dispute,No arrest made or summons issued,Substantiated (Command Lvl Instructions)
1,10007,John,Sears,078 PCT,24601,11,2011,8,2012,PBBS,...,24,Black,Male,26.0,Discourtesy,Action,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
2,10007,John,Sears,078 PCT,24601,11,2011,8,2012,PBBS,...,24,Black,Male,26.0,Offensive Language,Race,67.0,Moving violation,Moving violation summons issued,Substantiated (Charges)
3,10007,John,Sears,078 PCT,26146,7,2012,9,2013,PBBS,...,25,Black,Male,45.0,Abuse of Authority,Question,67.0,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Substantiated (Charges)
4,10009,Noemi,Sierra,078 PCT,40253,8,2018,2,2019,078 PCT,...,39,NaN,NaN,16.0,Force,Physical force,67.0,Report-dispute,Arrest - other violation/crime,Substantiated (Command Discipline A)
5,10012,Paula,Smith,078 PCT,37256,5,2017,10,2017,078 PCT,...,50,White,Male,31.0,Abuse of Authority,Refusal to process civilian complaint,78.0,C/V telephoned PCT,No arrest made or summons issued,Substantiated (Command Lvl Instructions)
6,10014,Malachy,Sullivan,078 PCT,33969,11,2015,2,2016,078 PCT,...,43,White,Male,34.0,Offensive Language,Sexual orientation,78.0,PD suspected C/V of violation/crime - street,Summons - other violation/crime,Substantiated (Formalized Training)
7,10017,Fazle,Tanim,078 PCT,40070,8,2018,11,2018,078 PCT,...,34,Asian,Male,60.0,Discourtesy,Word,78.0,Moving violation,Moving violation summons issued,Unsubstantiated
8,10017,Fazle,Tanim,078 PCT,41927,3,2019,8,2019,078 PCT,...,35,Asian,Male,39.0,Abuse of Authority,Refusal to provide shield number,78.0,Moving violation,Moving violation summons issued,Unsubstantiated
9,10017,Fazle,Tanim,078 PCT,41927,3,2019,8,2019,078 PCT,...,35,Asian,Male,39.0,Abuse of Authority,Retaliatory summons,78.0,Moving violation,Moving violation summons issued,Substantiated (Command Discipline A)

In [31]:
df.describe()

,unique_mos_id,complaint_id,month_received,year_received,month_closed,year_closed,mos_age_incident,complainant_age_incident,precinct
count,33358.000000,33358.000000,33358.000000,33358.000000,33358.000000,33358.000000,33358.000000,28546.000000,33334.000000
mean,18169.912495,23905.058217,6.323551,2010.726782,6.470772,2011.525661,32.346873,32.484201,64.365213
std,9566.316896,11954.434138,3.362951,6.034725,3.343372,6.085907,6.040944,28.408963,31.451592
min,2.000000,517.000000,1.000000,1985.000000,1.000000,1985.000000,20.000000,-4301.000000,0.000000
25%,9671.000000,13684.750000,3.000000,2007.000000,4.000000,2008.000000,28.000000,23.000000,43.000000
50%,19215.000000,25132.000000,6.000000,2012.000000,6.000000,2013.000000,31.000000,30.000000,67.000000
75%,25412.000000,34252.000000,9.000000,2016.000000,9.000000,2016.000000,36.000000,41.000000,81.000000
max,36374.000000,43703.000000,12.000000,2020.000000,12.000000,2020.000000,60.000000,101.000000,1000.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 33358 entries, 0 to 33357
Data columns (total 26 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   unique_mos_id             33358 non-null  int64
 1   first_name                33358 non-null  object
 2   last_name                 33358 non-null  object
 3   command_now               33358 non-null  object
 4   complaint_id              33358 non-null  int64
 5   month_received            33358 non-null  int64
 6   year_received             33358 non-null  int64
 7   month_closed              33358 non-null  int64
 8   year_closed               33358 non-null  int64
 9   command_at_incident       31814 non-null  object
 10  rank_abbrev_incident      33358 non-null  object
 11  rank_abbrev_now           33358 non-null  object
 12  rank_now                  33358 non-null  object
 13  rank_incident             33358 non-null  object
 14  mos_ethnicity             33358 non-null  object
 15  mos_gender                33358 non-null  object
 16  mos_age_incident          33358 non-null  int64
 17  complainant_ethnicity     28894 non-null  object
 18  complainant_gender        29163 non-null  object
 19  complainant_age_incident  28546 non-null  float64
 20  fado_type                 33358 non-null  object
 21  allegation                33357 non-null  object
 22  precinct                  33334 non-null  float64
 23  contact_reason            33159 non-null  object
 24  outcome_description       33302 non-null  object
 25  board_disposition         33358 non-null  object
dtypes: float64(2), int64(7), object(17)
memory usage: 6.6+ MB

### how should we deal with NaN? Drop??

In [145]:
df.loc[df['complainant_ethnicity'].isna()]

,unique_mos_id,first_name,last_name,command_now,complaint_id,month_received,year_received,month_closed,year_closed,command_at_incident,...,mos_age_incident,complainant_ethnicity,complainant_gender,complainant_age_incident,fado_type,allegation,precinct,contact_reason,outcome_description,board_disposition
4,10009,Noemi,Sierra,078 PCT,40253,8,2018,2,2019,078 PCT,...,39,NaN,NaN,16.0,Force,Physical force,67.0,Report-dispute,Arrest - other violation/crime,Substantiated (Command Discipline A)
68,10039,Willie,Johnson,079 DET,14557,10,2007,3,2009,NARCBBN,...,36,NaN,NaN,NaN,Abuse of Authority,Premises entered and/or searched,73.0,Execution of search warrant,No arrest made or summons issued,Exonerated
72,10039,Willie,Johnson,079 DET,18085,4,2009,6,2010,NARCBBN,...,37,NaN,NaN,NaN,Abuse of Authority,Gun Drawn,75.0,Other,Arrest - other violation/crime,Exonerated
75,10039,Willie,Johnson,079 DET,18085,4,2009,6,2010,NARCBBN,...,37,NaN,NaN,NaN,Abuse of Authority,Premises entered and/or searched,75.0,Other,Arrest - other violation/crime,Substantiated (Charges)
115,10042,John,Musante,079 DET,33550,9,2015,2,2016,083 PCT,...,34,NaN,NaN,NaN,Abuse of Authority,Premises entered and/or searched,83.0,PD suspected C/V of violation/crime - street,No arrest made or summons issued,Unsubstantiated
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
33217,9681,Eric,Delman,077 PCT,28196,5,2013,4,2014,075 PCT,...,44,NaN,NaN,18.0,Discourtesy,Word,75.0,PD suspected C/V of violation/crime - bldg,Summons - other violation/crime,Unsubstantiated
33235,9681,Eric,Delman,077 PCT,27947,4,2013,6,2014,075 PCT,...,44,NaN,NaN,NaN,Abuse of Authority,Premises entered and/or searched,75.0,Report of other crime,Arrest - other violation/crime,Exonerated
33237,9681,Eric,Delman,077 PCT,28196,5,2013,4,2014,075 PCT,...,44,NaN,NaN,18.0,Force,Gun Pointed,75.0,PD suspected C/V of violation/crime - bldg,Summons - other violation/crime,Exonerated
33271,9767,Michael,Napolitano,077 PCT,42225,4,2019,2,2020,077 PCT,...,35,NaN,NaN,NaN,Abuse of Authority,Entry of Premises,77.0,Report-noise/disturbance,Summons - other violation/crime,Substantiated (Command Discipline A)
33311,9856,Daniel,Zollo,077 PCT,19009,9,2009,8,2010,077 PCT,...,43,NaN,NaN,NaN,Abuse of Authority,Premises entered and/or searched,77.0,PD suspected C/V of violation/crime - bldg,Summons - other violation/crime,Substantiated (Command Discipline)

In [8]:
### groupby officer, agg allegation count?

In [9]:
### groupby precinct, allegation count?

In [10]:
df[['contact_reason']] ## pull unique reasons?

                                     contact_reason
0                           Report-domestic dispute
1                                  Moving violation
2                                  Moving violation
3      PD suspected C/V of violation/crime - street
4                                    Report-dispute
...                                             ...
33353                              Moving violation
33354                              Moving violation
33355                              Moving violation
33356                              Moving violation
33357                              Moving violation

[33358 rows x 1 columns]

In [136]:
df.groupby(['allegation']).count()[['complaint_id']] # ????

                  complaint_id
allegation
Action                     316
Animal                       3
Arrest/D. A. T.              6
Arrest/Onlooker              4
Beat                        57
...                        ...
Vehicle Searched            22
Vehicle search            1405
Vehicle stop              1094
White                        8
Word                      3942

[115 rows x 1 columns]

In [12]:
### grab unique allegations?

In [13]:
df.year_closed

0        2020
1        2012
2        2012
3        2013
4        2019
         ...
33353    2017
33354    2017
33355    2017
33356    2017
33357    2017
Name: year_closed, Length: 33358, dtype: int64

In [59]:
# df[['board_disposition']]
df.groupby(['board_disposition']).count()[['complaint_id']]

                                          complaint_id
board_disposition
Exonerated                                        9609
Substantiated (Charges)                           3796
Substantiated (Command Discipline A)               964
Substantiated (Command Discipline B)               789
Substantiated (Command Discipline)                 851
Substantiated (Command Lvl Instructions)           454
Substantiated (Formalized Training)               1033
Substantiated (Instructions)                       248
Substantiated (MOS Unidentified)                     1
Substantiated (No Recommendations)                 165
Unsubstantiated                                  15448

In [72]:
df.groupby(['precinct']).count()[['allegation']] ### get the max

          allegation
precinct
0.0               21
1.0              174
5.0              160
6.0              175
7.0              221
...              ...
120.0            844
121.0            366
122.0            238
123.0            112
1000.0             3

[79 rows x 1 columns]

In [73]:
df['allegation'].describe()

count              33357
unique               115
top       Physical force
freq                4849
Name: allegation, dtype: object

In [138]:
exon = df['board_disposition']=='Exonerated'
len(df[exon])

9609

In [139]:
phys = df['allegation']=='Physical force'
len(df[phys])

4849

In [36]:
df[phys & exon].count()['complaint_id']

2474

In [ ]:
### out of those allegations what were the outcome and disposition

In [21]:
# df['complainant_age_incident'].agg(np.min) ## ??
df['complainant_age_incident'].agg(np.max).round()

101.0

In [22]:
df['mos_age_incident'].agg(np.min).round()
df['mos_age_incident'].agg(np.max).round()

60

In [24]:
df.groupby(['contact_reason']).count()['unique_mos_id']

contact_reason
Aided Cases                                                      10
Aided case                                                      154
Arrest/Complainant                                               73
Arrest/Not Complainant                                           46
Assist ACS or other agency                                       39
C/V at PCT to file complaint of crime                           102
C/V at PCT to obtain information                                167
C/V at PCT to retrieve property                                  40
C/V intervened on behalf of/observed encounter w/3rd party      540
C/V requested info from officer                                 112
C/V requested investigation of crime                            316
C/V telephoned PCT                                              175
CV already in custody                                           100
Complainant Witnessing Incident                                   5
Complainant at Pct. to make a Cmpl/info                          16
Demonstration/protest                                            35
Demonstrations                                                    8
Dispute                                                         104
EDP Aided Cases                                                  12
EDP aided case                                                  313
Execution of arrest/bench warrant                               683
Execution of search warrant                                     913
Moving violation                                               1983
No contact                                                        3
Other                                                          4104
Other violation of VTL                                         1140
Others                                                          189
PD auto checkpoint                                               39
PD suspected C/V of violation/crime - auto                     2981
PD suspected C/V of violation/crime - bldg                     2542
PD suspected C/V of violation/crime - street                  10078
PD suspected C/V of violation/crime - subway                    380
PD telephones CV                                                 18
Parade/special event                                             46
Parking violation                                               635
Patrol Encounter                                                362
Regulatory inspection                                            36
Report of Crime Past/Present                                    165
Report of Disturbance/Noise Complaint                            36
Report of other crime                                           906
Report-dispute                                                 1085
Report-domestic dispute                                         563
Report-gun possession/shots fired                               492
Report-noise/disturbance                                        356
Report-possession/sale of narcotics                             318
Stop/Question/Frisk                                             206
Summons/Complainant                                              39
Telephone Call to Precinct/Command                               11
Traffic Incidents/Accident/Prk Violation                        219
Traffic accident                                                200
Transit checkpoint                                               11
Vehicle Stop and Check                                           51
Victim Subject of Sex Crime                                       2
Name: unique_mos_id, dtype: int64

In [25]:
df.groupby(['complainant_ethnicity']).count()[['complaint_id']]

                       complaint_id
complainant_ethnicity
American Indian                  64
Asian                           532
Black                         17114
Hispanic                       6424
Other Race                      677
Refused                         259
Unknown                        1041
White                          2783

In [26]:
df.groupby(['mos_ethnicity']).count()[['complaint_id']]

                 complaint_id
mos_ethnicity
American Indian            32
Asian                    1178
Black                    4924
Hispanic                 9150
White                   18074

In [27]:
df.groupby(['complainant_ethnicity', 'complainant_gender']).agg(np.mean)['complainant_age_incident'].round()

complainant_ethnicity  complainant_gender
American Indian        Female                   39.0
                       Male                     31.0
Asian                  Female                   37.0
                       Male                     34.0
Black                  Female                   35.0
                       Gender non-conforming    35.0
                       Male                     32.0
                       Not described            31.0
                       Transman (FTM)           44.0
                       Transwoman (MTF)         41.0
Hispanic               Female                   34.0
                       Male                     31.0
                       Not described            30.0
                       Transwoman (MTF)         36.0
Other Race             Female                   37.0
                       Male                     31.0
                       Not described            50.0
                       Transman (FTM)           38.0
                       Transwoman (MTF)         27.0
Refused                Female                   39.0
                       Male                     35.0
                       Not described            30.0
Unknown                Female                   39.0
                       Male                     24.0
                       Not described            27.0
White                  Female                   41.0
                       Male                     36.0
                       Transwoman (MTF)         44.0
Name: complainant_age_incident, dtype: float64

### ages 24-38 with most complaints, peaks at 30

In [131]:
# df.groupby(['unique_mos_id']).agg(np.mean)['mos_age_incident'].round()
df.groupby(['mos_age_incident']).count()['complaint_id'].round()

mos_age_incident
20       1
21      24
22     292
23     622
24    1266
25    1677
26    1783
27    2100
28    2240
29    2229
30    2336
31    2199
32    2073
33    1956
34    1739
35    1744
36    1471
37    1263
38    1081
39     963
40     770
41     719
42     538
43     410
44     444
45     340
46     281
47     225
48     156
49     178
50      78
51      46
52      29
53      38
54      24
55       5
56       5
57       5
58       6
60       2
Name: complaint_id, dtype: int64

In [29]:
df.columns

Index(['unique_mos_id', 'first_name', 'last_name', 'command_now',
       'complaint_id', 'month_received', 'year_received', 'month_closed',
       'year_closed', 'command_at_incident', 'rank_abbrev_incident',
       'rank_abbrev_now', 'rank_now', 'rank_incident', 'mos_ethnicity',
       'mos_gender', 'mos_age_incident', 'complainant_ethnicity',
       'complainant_gender', 'complainant_age_incident', 'fado_type',
       'allegation', 'precinct', 'contact_reason', 'outcome_description',
       'board_disposition'],
      dtype='object')

In [38]:
df.fado_type.values

array(['Abuse of Authority', 'Discourtesy', 'Offensive Language', ...,
       'Abuse of Authority', 'Abuse of Authority', 'Abuse of Authority'],
      dtype=object)

In [128]:
df.groupby(['fado_type']).count()[['complaint_id']]

                    complaint_id
fado_type
Abuse of Authority         20292
Discourtesy                 4677
Force                       7636
Offensive Language           753

In [84]:
df.groupby(['outcome_description']).count()[['complaint_id']]

                                      complaint_id
outcome_description
Arrest - OGA                                   649
Arrest - assault (against a PO)                852
Arrest - disorderly conduct                   1013
Arrest - harrassment (against a PO)             15
Arrest - other violation/crime               10196
Arrest - resisting arrest                     1593
Arrest on Other Charge                          81
Assault/Arrested                                34
Disorderly-Conduct/Arr/Summons                 137
Harrassment/Arrested/Summons                     8
Juvenile Report                                 57
Moving violation summons issued                839
No arrest made or summons issued             12822
Obstruct-Govt-Admin/Arrested                    10
Other Summons Claimed or Issued                 38
Other VTL violation summons issued             531
Parking summons issued                         279
Resisting Arrest/Arrested                       25
Summons - OGA                                    1
Summons - disorderly conduct                  2118
Summons - harrassment (against a PO)             5
Summons - other violation/crime               1940
Traffic Summons Claimed or Issued               59

In [109]:
# df[['rank_incident']]
# df[['rank_now']]
df.groupby(['rank_incident']).count()[['unique_mos_id']]

                        unique_mos_id
rank_incident
Captain                           182
Chiefs and other ranks              2
Deputy Inspector                   96
Detective                        3307
Inspector                          27
Lieutenant                       1301
Police Officer                  22509
Sergeant                         5934

In [105]:
df.groupby(['rank_now']).count()[['unique_mos_id']]

                        unique_mos_id
rank_now
Captain                           735
Chiefs and other ranks            312
Deputy Inspector                  435
Detective                        9917
Inspector                         214
Lieutenant                       3696
Police Officer                  10298
Sergeant                         7751

In [116]:
### Have the officers been promoted? moved into other posts

In [115]:
df.groupby(['mos_gender']).count()['complaint_id']

mos_gender
F     1760
M    31598
Name: complaint_id, dtype: int64